body {
  font-family: 'Didact Gothic', sans-serif;
  color: #2b2b2b;
  box-sizing: border-box;
  text-align: center;
  background-color: #fff;
}

section {
  padding: 5% 12%;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 1.7rem;
}

h1, h2 {
  font-family: 'Forum', cursive;
}

p {
  font-size: 1.4rem;
  text-align: left;
  line-height: 1.4;
}

a {
  text-decoration: underline;
  color: #050505;
}

img {
  width: 100%;
}

.header-section, .footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-section {
  padding-bottom: 1%;
}

.header-img {
  width: 80%;
  max-width: 397px;
}

.shadow-img {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.grey-bg {
  background-color: #f0f0ef;
}

.top-nav {
  margin-top: 5%;
}

.navbar-toggler {
  display: block;
  margin: 1rem auto;
}

.nav-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-variant: small-caps;
  font-size: 1.5rem;
  text-decoration: none;
  transition: 0.1s;
  margin: 0 20px;
}

.media-link {
  opacity: 0.7;
}

.sml img {
  width: auto;
}

.media-link:hover {
  opacity: 0.5;
}


.contact-btn {
  margin: 5% auto 2%;
  font-family: 'Poppins', sans-serif;
  color: #2b2b2b;
  border-color: #2b2b2b;
  text-decoration: none;
}

.contact-btn:hover {
    background-color: #2b2b2b;
    border-color: #2b2b2b;
}

/*****    FOOTER    *****/
footer {
  text-align: center;
}

#footer-section {
  width: 90%;
  max-width: 397px;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
}

.social-media {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-line {
  margin-bottom: 20px;
}

.media-link:first-child {
  margin-right: 20px;
}

.alp-item {
  display: flex;
  align-items: center;
}

.alp {
  max-width: 44px;
  margin-right: 20px;
}

.alp:hover {
  opacity: 0.6;
}

.alp-item p {
  margin-top: 1.2rem;
  font-size: 1rem;
}

.copy-1 {
  font-size: .8rem;
  display: block;
  margin: 2rem auto 0 auto;
}

/*****     HOME PAGE     *****/
/*****    GALLERY    *****/
.di-cite {
  background-color: #fff;
  font-style: italic;
  font-size: 1.2rem;
  padding: 10%;
  border-radius: 5px;
}

.gal figure {
  /* max-width: 490px; */
}

.galpic-sm {
  cursor: pointer;
}

figcaption {
  padding: 10px 15%;
  text-align: left;
  margin: auto;
}

/*****    ABOUT    *****/
#me-tile {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.me-pic {
  padding: .6rem;
  border-radius: .6rem;
  background: #fff;
}

.art-bg {
  opacity: .3;
}

/*****    COMMISSION    *****/
.tile-header {
  margin-bottom: 1.5rem;
  font-family: 'Poppins', sans-serif;
}

.btn-outline-dark.focus, .btn-outline-dark:focus {
    box-shadow: none;
}

.ueland-div {
  display: flex;
  align-items: center;
}

.ueland-img {
  border: 1px solid #2b2b2b;
}

.pic {
  padding: 10%;
}

/*****    MODAL SECTION    *****/

.row > .column {
  /* padding: 0 8px; */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 55px;
  left: 0;
  top: 0;
  width: 100%;
  /* height: 100%; */
  overflow: auto;
  background-color: #000000b2;
}

/* Modal Content */
.modal-section {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1000px;
  text-align: left;
}

/* The Close Button */
.closeSlide {
  color: #303030;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 3rem;
  font-weight: bold;
}

.closeSlide:hover,
.closeSlide:focus {
  opacity: .5;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
  width: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: auto;
  padding: 0 16px;
  color: hsl(0, 0%, 13%);
  font-weight: bold;
  font-size: 2rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  text-decoration: none;
  color: rgba(124, 124, 124, 0.966);
}

img.demo {
  opacity: 0.6;
  width: 100%;
}

.active {
  opacity: .8;
  text-decoration: underline;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*****    MEDIA QUERIES    *****/


@media all and (min-width: 992px) and (max-width: 1199px) {

  /** ABOUT **/
  #art-bg {
    margin-top: 2rem;
    background-image: url(../images/art-lg.png);
    width: 960px;
    height: 291px;
  }
}


@media all and (max-width: 767px) {

    h3{
      font-size: 1.2rem;
      font-weight: bold;
    }

  p {
    font-size: 1.2rem;
  }

  #navbar-list {
    display: block;
  }

  .nav-item {
    padding: 12px;
    line-height: 1.2em;
  }
}

@media all and (max-width: 575px) {
  section {
    padding: 5%;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  footer {
    padding: 5%;
  }

  .alp-item {
    flex-direction: column;
  }

  .navbar-brand {
    width: 80%;
  }

  .navbar-brand img {
    width: 100%;
  }

}

@media all and (max-width: 460px) {
  h1 {
    font-size: 1.7rem;
    font-weight: bold;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }


}

@media all and (min-width: 340px) {
  .title-break{
    display: none;
  }
}
